---
import { Button } from "./ui/button";
import { AvatarItem } from "./ui/avatar";
import { ModeToggle } from "./ModeToggle";
import { LogOutIcon } from "lucide-react";

const session = await Astro.locals.auth.validate();
---

<header
  class={`border-border flex flex-row items-center ${
    session ? "justify-between" : "justify-center"
  } px-2 py-3 border-b-2`}
>
  {
    session && (
      <div class="flex flex-row items-center gap-2">
        <AvatarItem
          client:load
          fallback={session.user.name}
          src={session.user.avatar_url}
        />
        <p class="md:block hidden text-xl leading-7">{session.user.name}</p>
        <form action="/logout" method="post">
          <Button type="submit" title="Log out" variant="ghost" size="icon">
            <LogOutIcon size={20} />
          </Button>
        </form>
      </div>
    )
  }
  <h1
    class={`scroll-m-20 lg:text-5xl text-4xl ${
      !session && "flex-grow"
    } font-extrabold tracking-tight text-center`}
  >
    Threadz
  </h1>
  <ModeToggle client:load />
</header>
