---
import Layout from "@/ui/layouts/Layout.astro";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<Layout title="Welcome to Astro.">
  <main>
    <h4>{JSON.stringify(session, null, 2)}</h4>
    <form method="post" action="/logout">
      <button type="submit">logout</button>
    </form>
  </main>
</Layout>
