---
import { db } from "@/lib/db";
import { posts, user } from "@/lib/db/schema";
import { desc, eq } from "drizzle-orm";

import { Button } from "@/ui/components/ui/button";
import { Textarea } from "@/ui/components/ui/textarea";
import Layout from "@/ui/layouts/Layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
} from "@/ui/components/ui/card";
import { AvatarItem } from "@/ui/components/ui/avatar";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);

let message = "";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  let content = data.get("content");
  if (!!content && typeof content === "string") {
    const text = content.trim();
    try {
      await db
        .insert(posts)
        .values({ content: text, userId: session.user.userId })
        .run();
    } catch (e) {
      console.log(e);
      message = "Something went wrong. Please try again.";
    }
  } else {
    message = "Something went wrong. Please try again.";
  }
  return Astro.redirect("/");
}

const allPosts = await db
  .select()
  .from(posts)
  .leftJoin(user, eq(posts.userId, user.id))
  .orderBy(desc(posts.id))
  .all();
---

<Layout title="Threadz" description="The main page of threadz.">
  <main
    class="md:border md:border-border md:max-w-xl flex flex-col gap-6 py-4 mx-auto mt-3 rounded-md"
  >
    <form class="flex items-center gap-3 px-3" action="/" method="post">
      <Textarea
        required
        name="content"
        placeholder="Tell the world your thoughts..."
      />
      <Button type="submit">Publish</Button>
    </form>
    {message && <p class="pl-4 text-red-500">{message}</p>}

    <ul class="px-3 space-y-4">
      {
        allPosts.map(({ posts, user }) => (
          <li>
            <Card>
              <CardHeader className="flex-row gap-2">
                <AvatarItem
                  client:load
                  src={user?.avatarUrl!}
                  fallback={user?.name!}
                />
                <CardDescription>{user?.name}</CardDescription>
              </CardHeader>
              <CardContent>
                <p class="whitespace-pre">{posts.content}</p>
              </CardContent>
            </Card>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
